
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light;
  --bg-main: #ecf0f1;
  --bg-content: #ffffff;
  --bg-header: #2c3e50;
  --bg-nav: #34495e;
  --text-primary: #2c3e50;
  --text-muted: #7f8c8d;
  --border: #ddd;
  --border-table: #ecf0f1;
  --btn-primary: #3498db;
  --btn-success: #27ae60;
  --btn-danger: #e74c3c;
  --btn-secondary: #95a5a6;
  --table-header-bg: #34495e;
  --table-header-text: #ffffff;
  --input-bg: #ffffff;
  --input-border: #ddd;
  --shadow: rgba(0, 0, 0, 0.1);
  --main-layout: #ecf0f1;
  
}

/* Dark Mode */
:root[data-theme="dark"] {
  color-scheme: dark;

  --bg-main: #1a252f;
  --bg-content: #00060b;
  --bg-header: #16222a;
  --bg-nav: #010304;
  --text-primary: #ecf0f1;
  --text-muted: #95a5a6;
  --border: #34495e;
  --border-table: #34495e;
  --btn-primary: #396888;
  --btn-success: #224c23;
  --btn-danger: #5e1e17;
  --btn-secondary: #5a6363;
  --table-header-bg: #34495e;
  --table-header-text: #ecf0f1;
  --input-bg: #2c3e50;
  --input-border: #34495e;
  --shadow: rgba(0, 0, 0, 0.3);
  --main-layout: #0b0c14;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.layout-header, .layout-footer {
  background-color: var(--bg-header);
  color: #646cff;
}

body {
  background-color: var(--bg-main);
  /* color: var(--text-primary); */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw !important;
}

div#root {
  width: 100vw !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: var(--link-color);
}