/* Layout Styles */
.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  background-color: var(--bg-nav);
  color: white;
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.layout-header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.layout-nav {
  background: var(--bg-nav);
  padding: 0.8rem 2rem;
  border-bottom: 1px solid var(--bg-nav);
}

.layout-nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.nav-link:hover {
  background: #2c3e50;
}

.layout-main {
  flex: 1;
  padding: 2rem;
  background: var(--main-layout);
}

.layout-footer {
  background-color: var(--bg-nav);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

.layout-footer p {
  margin: 0;
}

.thead {
  background: var(--bg-nav)!important;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: white;
  transition: all 0.3s;
}


@media (max-width: 767px) {
  .layout-nav-links {
    display: none; 
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background: #34495e;
    padding: 1rem;
  }

  .layout-nav-links.active {
    display: flex; 
  }

  .hamburger {
    display: flex; 
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}