/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.pagination-btn {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background: var(--bg-nav);
  color: white
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-btn-active {
  background: var(--bg-nav);
  color: white;
  font-weight: bold;
  font-size: larger;
}

.pagination-ellipsis {
  padding: 0.5rem 0.5rem;
  color: #7f8c8d;
  user-select: none;
}
